@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
 margin: 0%;   
 background-color: #F7F8FA;
}

a{
    color: #f8afaf;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Comfortaa';
}

.Menu{
    margin-left: 90vh;
    font-size: 20px;
}

.container-cima{
    min-height: 100vh;
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: #F7F8FA;
    color: black;
    font-family: 'Comfortaa', 'Poppins';
  }

.container-sobre{
    display: flex;
    margin: 100px;
    min-height: 60vh;
    flex-direction: row;
    background-color: #F7F8FA;
    font-family: 'Comfortaa', 'Poppins';

}

.textos{
    flex-direction: column;
    margin-top: 5%;

}

.topicos{
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-size: 15px;
  }
  
  .tam-vaso{
      display: flex;
      margin-left: 10%;
      width: 450px;
      height: 350px;
      margin-top: 8%;
  
  }
  

.container-rodape{
    display: flex;
    min-height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: 'Comfortaa', 'Poppins';

}

.container-rodape img{
    display: flex;
    margin-top: 50px;
    height: 200px;
    width: 200px;
}

.container-rodape p{
    margin-top: 15px;
    font-family: 'Poppins';
}

.quadrado-info{
    background-color: rgb(248, 224, 224);
    position: absolute;
    align-items: center;
    opacity: 0.9;
    margin-left: 15%;
    margin-top: 25%;
    width: 70%;
    height: 400px;
}

.quadrado-info img{
    margin-left: 40%;
    margin-top: 30px;
    align-items: center;
    height: 150px;
    width: 150px;

}

.quadrado-info h1{
    text-align: center;
    align-items: center;
    font-size: 40px;

}

.quadrado-info h2{
    background-color: #ff93ac;
    width: 550px;
    margin-left: 170px;
    border-radius: 6px;
    font-family: 'Poppins';
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.quadrado-info h3{
    margin-top: 25px;
    text-align: center;
}

.rodape-cima{
    align-items: center;
    font-family: 'Comfortaa';
    display: flex;
}

.rodape-cima img{
    margin: 10px;
    height: 100px;
    width: 100px;
}

.tam-img{
    min-height: 100%;
    min-width: 100%;
}

.linha{
    margin-top: 40px;
    color: #fff;
    width: 99%;
}
